/* Home page specific styles */

.footer {
  background-color: #003c8f;
  color: white;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

.footer__footnote {
  color: white;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.footer__footnote::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  right: 0;
  margin: auto;
}

.footer__icons-container {
  margin: 10px 5px;
}

.footer__icon {
  display: inline-block;
  margin: 7px;
  max-width: 50px;
}

.homepage-hero {
  background: url("../assets/images/homepage_hero.jpg") no-repeat center;
  background-size: cover;
  bottom: 0;
  font-family: "roboto", sans-serif;
  height: 100vh;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  margin: 0 0 25px;
  width: 100%;
}

.homepage-hero__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 60, 143, 0.5);
  top: 0px;
  left: 0;
}

.homepage-hero__layer--darker {
  background-color: rgba(0, 0, 0, 0.3);
}

.homepage-hero__article {
  margin: auto;
}

.homepage-hero__logo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 247px;
  height: 140px;
}

.homepage-hero__lookdown {
  bottom: 20px;
  right: 0;
  left: 0;
  width: 33px;
  height: 40px;
  position: absolute;
  margin: auto;
}

.homepage-hero__anchor {
  bottom: 0;
  right: 0;
  left: 0;
  height: 75px;
  position: absolute;
}

.homepage-hero__divider {
  width: 90px;
  height: 1px;
  margin-bottom: 5px;
  background-color: #73e8ff;
}

.homepage-hero__promotext {
  color: #ffffff;
  font-size: 12px;
  font-weight: regular;
}

/* START SERVICES */

.services-section {
  margin: 0 0 30px;
}

.services-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.service {
  max-width: 315px;
  text-align: center;
  width: 100%;
}

.service:not(:last-child) {
  margin-bottom: 28px;
}

.service__icon,
.service__description {
  display: inline-block;
}

.service__icon {
  max-width: 150px;
}

.service__icon {
  margin-bottom: 30px;
}

.service__description {
  height: 38px;
  margin: 0;
  max-width: 218px;
  text-align: center;
  width: 100%;
}

.quote-container {
  text-align: center;
  margin-top: 50px;
}

.home__container-button {
  width: 280px;
  left: 0;
  right: 0px;
  margin: auto;
}

/* END SERVICES */

/* START MEDIA QUERIES */

@media only screen and (min-width: 960px) {
  .homepage-hero {
    margin-bottom: 75px;
  }

  .service:not(:last-child) {
    margin-bottom: 0;
  }

  .services-section {
    margin-bottom: 60px;
  }

  .services-container {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .service:not(:first-child) {
    margin-top: 0;
  }

  .quote-container {
    margin-top: 90px;
  }

  .homepage-hero__logo {
    max-width: 350px;
    height: 198px;
  }

  .homepage-hero__anchor {
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    position: absolute;
  }
}
